{% extends "myapp/base.html" %}
{% block title %}Inicio{% endblock title %}
{% block content_title %}¡Bienvenidos a nuestra Comunidad Virtual de Deportistas!{% endblock content_title %}
{% block content %}
<p>

    Nos complace tenerte aquí, en un espacio donde el deporte, la actividad física y la colaboración se encuentran. En nuestra comunidad podrás explorar y participar en diversas actividades deportivas, como clases de gimnasia, entrenamientos grupales, y mucho más. ¡No dudes en inscribirte a las actividades que te interesen y disfrutar de un ambiente dinámico y saludable!

    Además, te invitamos a unirte a nuestro foro. Es un lugar perfecto para compartir experiencias, hacer preguntas, recibir consejos y conectarte con otros apasionados del deporte. Aquí, todos tenemos algo que aportar, y tu participación siempre será bienvenida.

    Recuerda que esta comunidad se basa en el respeto y la amabilidad. Te pedimos que interactúes de manera cordial, apoyes a los demás y contribuyas a crear un ambiente positivo y inclusivo para todos. La empatía y el respeto mutuo son esenciales para que este espacio sea enriquecedor para cada uno de nosotros.

    ¡Esperamos que disfrutes de tu tiempo aquí, que encuentres nuevas amistades y que te diviertas participando en todas las actividades y conversaciones que surjan!

    ¡A entrenar, a compartir y a crecer juntos!
</p>
{% endblock content %}