{% extends "myapp/base.html" %}
{% block title %}Inicio{% endblock title %}
{% block content_title %}bienvenido{% endblock content_title %}
{% block content %}
¡Nueva Temporada de Clases de Yoga en Nuestro Centro Deportivo! 🧘‍♀️✨

Nos complace anunciar que, a partir de este mes, estamos lanzando una nueva temporada de clases de Yoga en nuestro centro. Si buscas mejorar tu bienestar, reducir el estrés y aumentar tu flexibilidad, ¡estas clases son perfectas para ti!

¿Qué hay de nuevo?
Clases para todos los niveles: Desde principiantes hasta avanzados. Nuestro equipo de instructores altamente cualificados te guiará paso a paso para que aproveches al máximo tu práctica.
Horarios flexibles: Ofrecemos clases a distintas horas para que puedas ajustar tus entrenamientos a tu agenda. Ya no hay excusas para no hacer tiempo para ti.
Ambiente relajante y motivador: Nuestras instalaciones han sido renovadas para brindarte un espacio cómodo, relajante y lleno de energía positiva.
¡Ven a disfrutar de los beneficios del yoga!
El yoga no solo mejora la flexibilidad física, sino que también promueve una mente tranquila y equilibrada. ¿Qué mejor manera de cuidarte tanto por dentro como por fuera?

Te invitamos a probar una clase gratuita esta semana. Ven y descubre cómo el yoga puede transformar tu rutina. Las inscripciones están abiertas y los cupos son limitados, ¡así que no pierdas la oportunidad!

Para más información sobre horarios y precios, no dudes en contactarnos. ¡Estamos aquí para ayudarte a comenzar esta nueva aventura de bienestar!
{% endblock content %}