{% extends "myapp/base.html" %}

{% block title %}Editar Publicación{% endblock title %}

{% block content_title %}Editar tu publicación{% endblock content_title %}

{% block content %}
    <h2>Editar Publicación</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Muestra el formulario de manera automática -->
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        <a href="{% url 'foro:list_public' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}